* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #e6e6e7;
    background-color: #00040d;
}

body::-webkit-scrollbar {
    background-color: #00040d;
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #1a1d25;
}

body::-webkit-scrollbar-thumb:hover {
    background: #e6e6e7;
}
/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    z-index: 1000;
    text-align: center;
    background: transparent;
    color: #ffffff;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00040d;
    opacity: 0.5;
    z-index: -1;
}

header nav ul {
    list-style: none;
    padding: 0;
    position: relative;
    z-index: 1;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: auto;
    font-size: 1.1rem;
}

header nav ul li a:hover {
    color: #808286;
    transform: scale(1.1);
}

/*Content Row*/
main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(0deg,
            rgba(1, 0, 0, 0.9),
            rgba(1, 0, 0, 0.6)), url("Resources/MID.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}
main h1{
    font-size:5.0rem;
}
main h3{
    font-size: 2.5rem;
    font-family: raleway dots;
}
main p{
    font-size: 1.5rem;
    font-family: Raleway dots;
}
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content {
    text-align: center;
}

#about {
    background-color: #000000;
}

#skills {
    background-color: #33363d;
    display: flex;
}

#projects {
    background-color: #4d4f56;
}

#contact {
    background-color: #00040d;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.grid li {
    background-color: #808286;
    padding: 10px;
    border-radius: 5px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-item {
    background-color: #999b9e;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.project-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

form label {
    margin-bottom: 5px;
    font-weight: 700;
}

form input,
form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #b3b4b6;
    color: #00040d;
}

form button {
    padding: 10px;
    background-color: #cccdcf;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    color: #00040d;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #e6e6e7;
}

/* Footer */
footer {
    background-color: #1a1d25;
    font-family: Raleway light;
    padding-top: 40px;
    color: #e6e6e7;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h4 {
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #e6e6e7;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: #ff3f34;
}

.footer-bottom {
    background: #00040d;
    width: 100%;
    padding: 1px 0;
    text-align: center;
}

.footer-bottom p {
    font-family: Raleway dots;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

/* Font Awesome Icons config*/
.fa {
    padding-right: 20px;
    /* Preset stats */
    padding: 12px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Instagram */
.fa-instagram {
    background: #00040d;
    color: #e6e6e7;
}

.fa-instagram:hover {
    background-image:
        radial-gradient(circle at 30% 107%,
            #fdf497 0%, #fdf497 5%,
            #fd5949 45%, #d6249f 60%,
            #285AEB 90%);
}

/* Github */
.fa-github {
    background: #00040d;
    color: #e6e6e7;
}

.fa-github:hover {
    background-image:
        radial-gradient(circle at 50% 50%,
            #00c853 0%, #00c853 5%,
            #00c853 45%, #00e676 60%,
            #69f0ae 90%);
    color: black;
}

/* Linkedin */
.fa-linkedin {
    background: #00040d;
    color: #e6e6e7;
}

.fa-linkedin:hover {
    background-image:
        radial-gradient(circle at 50% 50%,
            #cccccc 0%, #fafafa 5%,
            #ffffff 45%, #f2f2f2 60%,
            #ffffff 90%);
    color: #007bb5;
}

/* Youtube */
.fa-youtube {
    background: #00040d;
    color: #e6e6e7;
}

.fa-youtube:hover {
    background-image:
        radial-gradient(circle at 50% 50%,
            #ff0000 0%, #ff0000 5%,
            #ff0000 45%, #ff0000 60%,
            #ff0000 90%);
    color: #ffffff;
}

/* Media Queries */
@media (max-width: 720px) {
    header nav ul {
        text-align: center;
    }

    header nav ul li {
        /*display: block;*/
        margin: 0.5rem 0;
    }

    .project {
        margin: 0.5rem 0;
    }
}
@media (max-width: 450px) {
    section {
        padding: 1rem;
        margin: 0.5rem 0;
    }

    footer {
        font-size: 0.9rem;
    }
}