:root {
    --primary-color: #ffffff;
    --secondary-color: #26a69a;
    --tertiary-color: #000000;
    --font-main: 'CODE', Bold;
    --font-second: 'CODE', Light;
    --font-third: 'Raleway';
    --font-fourth: Raleway dots;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    color: var(--primary-color);
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background: #212121;
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}

h1 {font-family: var(--font-main); font-size: 6rem;}
h2 {font-family: var(--font-main); font-size: 5rem;}
h3 {font-family: var(--font-main); font-size: 4rem;}
h4 {font-family: var(--font-second); font-size: 3rem;}
h5 {font-family: var(--font-second); font-size: 2rem;}
h6 {font-family: var(--font-second); font-size: 1.5rem;}
p {font-family: var(--font-third); font-size: 1rem;}
a {font-family: var(--font-third); color: var(--primary-color);}

/* Header Styles */
header {
    background: var(--tertiary-color);
    color: var(--primary-color);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    transition: 0.7s;
    padding: 10px 20px;
    z-index: 10;
}

header .scrollDown {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    padding: 5px 20px;
}

header .shortcuts {
    list-style: none;
}

header .shortcuts li {
    display: inline-block;
    padding: 0 20px;
}

header .shortcuts li:hover {
    transform: scale(1.1);
}

header .shortcuts a {
    padding: 0 5px;
    font-size: 700;
    text-decoration: none;
}

header .shortcuts a:hover {
    color: var(--secondary-color);
}
nav{
    box-shadow: 3px 3px 3px #000000;
}

/*Content Row*/
#home {
    display: flex;
    height: 100vh;
    padding: 50px 30px;
}

#home .left-section{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.left-section img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.right-section {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start; 
    padding-left: 5%; 
}

.right-section h5,
.right-section p {
    margin: 0;
}
/*About*/
#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 50px 30px;
}

.boutext {
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.boutext h3 {
    margin-bottom: 30px;
}

.boutext p {
    margin-bottom: 30px;
}

.boutext button {
    padding: 10px 30px;
    background-color: #ff4136;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#about img {
    width: 50%; 
    height: 90%;
    object-fit: cover;
}
/* Projects */
#projects {
    display: flex;
    height: 100vh;
    padding: 30px;
    box-sizing: border-box; 
    position: relative;
}

#projects h1 {
    position: absolute;
    margin: 0;
}

.left-block {
    padding-top: 30px;
    width: 65%;
    display: flex;
    flex-direction: column;
}

.project-1 {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.project-1 img {
    width: 100%;
    height: 65%;
    object-fit: cover;
}

.right-block {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.project-2 {
    display: flex;
    flex-direction: column;
}

.project-2 img {
    padding-top: 30px;
    width: 100%;
    height: 65%;
    object-fit: cover;
}

.project-info {
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: space-between;
    width: 100%;
}

.project-info h4 {
    margin: 0;
    width: 30px;
    text-align: center;
}

.text-content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    text-align: right;
}

.text-content h6 {
    margin: 0;
}

.text-content p {
    margin: 0;
}
/*Skills*/
#skills {
    display: flex;
    height: 100vh;
    padding: 30px 30px; 
}

.education {
    padding-right: 15px;
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.education img {
    width: 100%; 
    height: 50%;
    object-fit: cover;
    padding: 30px 0px;
}

.abilities {
    padding-left: 15px;
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.abilities img {
    width: 100%; 
    height: 70%;
    object-fit: cover;
    padding: 30px 0px;
}

.abilities ul {
    font-family: var(--font-second);
    padding-top: 15px;
}
/*Contact*/
#contact{
    height: 100vh;
    padding: 30px 30px;
}
.directions{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#contact .contact-img{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start; 
    padding-left: 5%; 
}
.imgcnt{
    width: auto;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}

#contact li {
    list-style: none;
}
.fa {
    padding-right: 20px;
    /* Preset stats */
    padding: 12px;
    font-size: 40px;
    width: 45px;
    text-align: center;
    text-decoration: none;
}

/* Instagram */
.fa-instagram {
    background: var(--tertiary-color);
    color: var(--primary-color);
}

.fa-instagram:hover {
    background-image:
        radial-gradient(circle at 30% 107%,
            #fdf497 0%, #fdf497 5%,
            #fd5949 45%, #d6249f 60%,
            #285AEB 90%);
}

/* Github */
.fa-github {
    background: var(--tertiary-color);
    color: var(--primary-color);
}

.fa-github:hover {
    background-image:
        radial-gradient(circle at 50% 50%,
            #00c853 0%, #00c853 5%,
            #00c853 45%, #00e676 60%,
            #69f0ae 90%);
    color: #000000;
}

/* Linkedin */
.fa-linkedin {
    background: var(--tertiary-color);
    color: var(--primary-color);
}

.fa-linkedin:hover {
    background-image:
        radial-gradient(circle at 50% 50%,
            #cccccc 0%, #fafafa 5%,
            #ffffff 45%, #f2f2f2 60%,
            #ffffff 90%);
    color: #007bb5;
}

footer {
    background-color: #000000;
    text-align: center;
    padding: 5px 0;
    width: 100%;
    bottom: 0;
}

footer p {
    color: var(--primary-color);
    font-family: var(--font-fourth);
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }
}